.matryoshka-wysiwyg-editor-wrapper {
	position: relative;
}

.matryoshka-wysiwyg-editor {
	min-height: 1.5em;
	border: 1px solid #eee;
	padding: 1em 1em 0;
	margin-bottom: 0.6em;
	font-size: 0.9em;
	font-family: inherit;
}

.matryoshka-wysiwyg-editor b,
.matryoshka-wysiwyg-editor strong {
	font-weight: bold;
}

.matryoshka-wysiwyg-editor i,
.matryoshka-wysiwyg-editor em {
	font-style: italic;
}

.matryoshka-wysiwyg-editor ul,
.matryoshka-wysiwyg-editor ol { 
   list-style-type: disc; 
   list-style-position: inside; 
   margin: 0;
   padding: 0 0 1em 0.5em;
}

.matryoshka-wysiwyg-editor ol { 
   list-style-type: decimal; 
}

.matryoshka-wysiwyg-editor li {
	padding: 0;
}

.matryoshka-wysiwyg-editor p {
	margin: 0 0 0.4em;
}

.matryoshka-wysiwyg-editor i {
	font-style: italic;
}

.matryoshka-wysiwyg-editor h1,
.matryoshka-wysiwyg-editor h2,
.matryoshka-wysiwyg-editor h3,
.matryoshka-wysiwyg-editor h4 {
	font-size: 2em;
	line-height: 1.3;
	font-weight: bold;
	margin: 0;
	padding: 0.2em 0 0.6em;
}

.matryoshka-wysiwyg-editor h2 {
	font-size: 1.6em;
}

.matryoshka-wysiwyg-editor h3 {
	font-size: 1.3em;
}

.matryoshka-wysiwyg-editor h4 {
	font-size: 1.1em;
}

.matryoshka-wysiwyg-editor img {
	width: auto;
	height: auto;
	max-width: 70%;
	max-height: 400px;
}

.matryoshka__body .matryoshka-wysiwyg-button-toggle {
	padding-left: 1em;
	padding-right: 1em;
	position: absolute;
	right: 0.6em;
	top: 0.6em;
}

.matryoshka__body .matryoshka-wysiwyg-button-toggle .fa {
	margin: 0;
}

.medium-editor-toolbar-actions button {
	background: #222;
}