<template name="matryoshka__customField__wysiwyg">

	<div class="matryoshka-wysiwyg-editor-wrapper">

		{{#if browserIsSupportedAndEditorIsActivated }}

			<div id="{{ ../../matryoshkaId }}-{{this.name}}" data-parent-id="{{ ../../matryoshkaId }}" class="matryoshka-wysiwyg-editor">{{#markdown}}{{{ matryoshka__getFieldValue ../.. }}}{{/markdown}}</div>

			<button class="matryoshka__nestable__container__button matryoshka-wysiwyg-button-toggle">
				<i class="fa fa-times"></i>
			</button>

		{{else}}

			<textarea id="{{ ../../matryoshkaId }}-{{this.name}}" data-parent-id="{{ ../../matryoshkaId }}" class="matryoshka-save-on-blur">{{ matryoshka__getFieldValue ../.. }}</textarea>

		{{/if}}

	</div>

</template>